dev/workspace/EDBarcodeWeb/src/main/java/th/go/excise/edbarcode/ws/provider/xsd/edbarcode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.excise.go.th/xsd/barcode"
	targetNamespace="http://www.excise.go.th/xsd/barcode">

	<!-- Service1: Sync Master Data -->
	<element name="EbarcodeSyncMasterDataRequest">
		<complexType>
			<sequence>
				<element name="InternetUser" type="tns:InternetUser"/>
			</sequence>
		</complexType>
	</element>
	<element name="EbarcodeSyncMasterDataResponse">
		<complexType>
			<sequence>
				<element name="Company" type="tns:Company" minOccurs="0" />
			</sequence>
		</complexType>
	</element>

	<!-- Service2: Submit Online -->
	<element name="EbarcodeSubmitOnlineRequest">
		<complexType>
			<sequence>
				<element name="SubmitOnlineHeader" type="tns:SubmitOnlineHeader"/>
				<element name="SR12011Info" type="tns:SR12011Info"/>
			</sequence>
		</complexType>
	</element>
	<element name="EbarcodeSubmitOnlineResponse">
		<complexType>
			<sequence>
				<element name="StatusCode" type="string" minOccurs="1" maxOccurs="1" />
				<element name="FormSubmissionId" type="string" minOccurs="1" maxOccurs="1" />
			</sequence>
		</complexType>
	</element>


	<!-- ***********************   Business Data Tags   ************************ -->

 	<complexType name="Error">
		<sequence>
			<element name="Code"						type="string"			minOccurs="0" />
			<element name="Description"					type="string"			minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="InternetUser">
		<sequence>
			<element name="CompanyId"					type="string"			minOccurs="1" />
			<element name="CompanyUserId"				type="string"			minOccurs="1" />
			<element name="CompanyUserPwd"				type="string"			minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="Company">
		<sequence>
			<element name="InternetUniqueId"			type="string"			minOccurs="1" />
			<element name="CusId"						type="string"			minOccurs="1" />
			<element name="CompanyId"					type="string"			minOccurs="1" />
			<element name="CompanyTitleCode"			type="string"			minOccurs="1" />
			<element name="CompanyTitleName"			type="string"			minOccurs="1" />
			<element name="CompanyName"					type="string"			minOccurs="1" />
			<element name="CompanyBranchCode"			type="string"			minOccurs="1" />
			<element name="ExciseOfficeId"				type="string"			minOccurs="1" />
			<element name="CompanyUserPwd"				type="string"			minOccurs="1" />
			<element name="CompanyAddress"				type="tns:Address"		minOccurs="1" />
			<element name="TaxpayerList"				type="tns:TaxpayerList" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="Address">
		<sequence>
			<element name="HouseIdNumber"				type="string"			minOccurs="0" />
			<element name="BuildingName"				type="string"			minOccurs="0" />
			<element name="RoomNumber"					type="string"			minOccurs="0" />
			<element name="FloorNumber"					type="string"			minOccurs="0" />
			<element name="VillageName"					type="string"			minOccurs="0" />
			<element name="HouseNumber"					type="string"			minOccurs="0" />
			<element name="MooNumber"					type="string"			minOccurs="0" />
			<element name="TrokSoiName"					type="string"			minOccurs="0" />
			<element name="StreetName"					type="string"			minOccurs="0" />
			<element name="ThambolCode"					type="string"			minOccurs="1" />
			<element name="ThambolName"					type="string"			minOccurs="1" />
			<element name="AmphurCode"					type="string"			minOccurs="1" />
			<element name="AmphurName"					type="string"			minOccurs="1" />
			<element name="ProvinceCode"				type="string"			minOccurs="1" />
			<element name="ProvinceName"				type="string"			minOccurs="1" />
			<element name="Postcode"					type="string"			minOccurs="0" />
			<element name="TelNumber"					type="string"			minOccurs="0" />
			<element name="EmailAddress"				type="string"			minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="TaxpayerList">
		<sequence>
			<element name="TaxpayerDetail"				type="tns:TaxpayerDetail" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="TaxpayerDetail">
		<sequence>
			<element name="TaxpayerId"					type="string"			minOccurs="1" />
			<element name="TaxpayerName"				type="string"			minOccurs="1" />
			<element name="TaxpayerAddress"				type="tns:Address"		minOccurs="1" />
			<element name="LicenseList"					type="tns:LicenseList"  minOccurs="0" />
			<element name="GoodsList"					type="tns:GoodsList"	minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="LicenseList">
		<sequence>
			<element name="LicenseInfo"					type="tns:LicenseInfo"	minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="LicenseInfo">
		<sequence>
			<element name="LicenseNo"					type="string"			minOccurs="1" />
			<element name="LicenseType"					type="string"			minOccurs="1" />
			<element name="LicenseCode"					type="string"			minOccurs="1" />
			<element name="LicenseSeq"					type="string"			minOccurs="1" />
			<element name="LicenseName"					type="string"			minOccurs="1" />
			<element name="LicenseCurrentPrice"			type="double"			minOccurs="0" />
			<element name="EffectiveDate"				type="string"			minOccurs="1" />
			<element name="ExpireDate"					type="string"			minOccurs="1" />
			<element name="FirstDate"					type="string"			minOccurs="0" />
			<element name="OfficeCode"					type="string"			minOccurs="1" />
			<element name="LicBook"						type="string"			minOccurs="1" />
			<element name="LicDate"						type="string"			minOccurs="1" />
			<element name="DocNo"						type="string"			minOccurs="1" />
			<element name="DocType"						type="string"			minOccurs="1" />
			<element name="LineNo"						type="string"			minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="GoodsList">
		<sequence>
			<element name="Goods"						type="tns:Goods"		minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="Goods">
		<sequence>
			<element name="GoodsCode"					type="string"		minOccurs="1" />
			<element name="GoodsDescriptionText"		type="string"		minOccurs="1" />
			<element name="ProductTypeCode"				type="string"		minOccurs="1" />
			<element name="ProductTypeDescriptionText"	type="string"		minOccurs="1" />
			<element name="GoodsSize"					type="string"		minOccurs="0" />
			<element name="GoodsSizeUnitDescriptionText" type="string"		minOccurs="0" />
			<element name="GoodsPrice"					type="double"		minOccurs="1" />
			<element name="TaxRateByPriceAmount"		type="double"		minOccurs="1" />
			<element name="TaxRateByQuantityAmount"		type="double"		minOccurs="1" />
			<element name="FundSSSRateAmount"			type="double"		minOccurs="1" />
			<element name="FundSSTRateAmount"			type="double"		minOccurs="1" />
			<element name="Degree"						type="string"		minOccurs="0" />
			<element name="PriceFlag"					type="string"		minOccurs="1" />
			<element name="DeclarePrice"				type="double"		minOccurs="0" />
			<element name="UnitCode"					type="string"		minOccurs="1" />
			<element name="GoodsUnitsDescriptionText"	type="string"		minOccurs="1" />
			<element name="IncomeCode"					type="string"		minOccurs="1" />
			<element name="SeqNo"						type="string"		minOccurs="1" />
			<element name="BrandName"					type="string"		minOccurs="0" />
			<element name="SubbrandName"				type="string"		minOccurs="0" />
			<element name="ModelName"					type="string"		minOccurs="0" />
			<element name="InformDate"					type="string"		minOccurs="0" />
			<element name="ProductNameEng"				type="string"		minOccurs="0" />
			<element name="RatePerLitre"				type="double"		minOccurs="1" />
			<element name="DegreeMin"					type="double"		minOccurs="1" />
			<element name="RateDegreeOver"				type="double"		minOccurs="1" />
			<element name="WholesaleMin"				type="double"		minOccurs="1" />
			<element name="RateWholesaleOver"			type="double"		minOccurs="1" />
			<element name="RatePerLitreMax"				type="double"		minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="SubmitOnlineHeader">
		<sequence>
			<element name="RegistratronId"						type="double"		minOccurs="1" />
			<element name="CusId"						type="double"		minOccurs="1" />
			<element name="CompanyId"						type="double"		minOccurs="1" />
			<element name="TaxpayerId"						type="double"		minOccurs="1" />
			<element name="ExciseOfficeId"						type="double"		minOccurs="1" />
			<element name="InternetUniqueId"						type="double"		minOccurs="1" />
			<element name="IpAddress"						type="string"		minOccurs="1" />
			<element name="SubmissionEmail"						type="string"		minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="SR12011Info">
		<sequence>
			<element name="TaxpayerInfo" type="tns:TaxpayerInfo" minOccurs="0" maxOccurs="unbounded"/>
			<element name="GoodsListInfo" type="tns:GoodsListInfo" minOccurs="0" maxOccurs="unbounded"/>
			<element name="SummaryInfo" type="tns:SummaryInfo" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<complexType name="TaxpayerInfo">
		<sequence>
			<element name="CompanyName"						type="string"		minOccurs="1" />
			<element name="Tin"						type="double"		minOccurs="1" />
			<element name="LicenseNo"						type="string"		minOccurs="1" />
			<element name="EffectiveDate"						type="string"		minOccurs="1" />
			<element name="ExpireDate"						type="string"		minOccurs="1" />
			<element name="TaxpayerName"						type="string"		minOccurs="1" />
			<element name="TaxpayerAddressInfo"	type="tns:TaxpayerAddressInfo" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<complexType name="TaxpayerAddressInfo">
		<sequence>
			<element name="HouseIdNumber"						type="string"		minOccurs="0" />
			<element name="BuildingName"						type="string"		minOccurs="0" />
			<element name="RoomNumber"						type="string"		minOccurs="0" />
			<element name="FloorNumber"						type="string"		minOccurs="0" />
			<element name="VillageName"						type="string"		minOccurs="0" />
			<element name="HouseNumber"						type="string"		minOccurs="0" />
			<element name="MooNumber"						type="string"		minOccurs="0" />
			<element name="TrokSoiName"						type="string"		minOccurs="0" />
			<element name="StreetName"						type="string"		minOccurs="0" />
			<element name="ThambolName"						type="string"		minOccurs="1" />
			<element name="AmphurName"						type="string"		minOccurs="1" />
			<element name="ProvinceName"						type="string"		minOccurs="1" />
			<element name="Postcode"						type="string"		minOccurs="0" />
			<element name="TelNumber"						type="string"		minOccurs="0" />
		</sequence>
	</complexType>
	
	<complexType name="GoodsListInfo">
		<sequence>
			<element name="GoodsEntryInfo" type="tns:GoodsEntryInfo" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<complexType name="GoodsEntryInfo">
		<sequence>
			<element name="ProductCode"						type="string"		minOccurs="1" />
			<element name="CategoryCode1"						type="string"		minOccurs="1" />
			<element name="CategoryCode2"						type="string"		minOccurs="1" />
			<element name="CategoryCode3"						type="string"		minOccurs="1" />
			<element name="CategoryCode4"						type="string"		minOccurs="1" />
			<element name="CategoryCode5"						type="string"		minOccurs="1" />
			<element name="UnitCode"						type="string"		minOccurs="1" />
			<element name="RateFlag"						type="string"		minOccurs="1" />
			<element name="TaxQuantity"						type="double"		minOccurs="1" />
			<element name="TaxQuantityNumber"						type="double"		minOccurs="1" />
			<element name="TaxQuantityPerUnit"						type="double"		minOccurs="1" />
			<element name="TaxValue"						type="double"		minOccurs="1" />
			<element name="PriceFlag"						type="string"		minOccurs="1" />
			<element name="InformPrice"						type="double"		minOccurs="1" />
			<element name="DeclarePrice"						type="double"		minOccurs="1" />
			<element name="UnitPrice"						type="double"		minOccurs="1" />
			<element name="GoodsNum"						type="double"		minOccurs="1" />
			<element name="GoodsValue"						type="double"		minOccurs="1" />
			<element name="TaxAmount"						type="double"		minOccurs="1" />
			<element name="SeqNo"						type="string"		minOccurs="1" />
			<element name="ProductTypeDesc"						type="string"		minOccurs="1" />
			<element name="GoodsDesc"						type="string"		minOccurs="1" />
			<element name="Degree"						type="string"		minOccurs="1" />
			<element name="GoodsSize"						type="string"		minOccurs="1" />
			<element name="GoodsPiece"						type="string"		minOccurs="1" />
			<element name="GoodsQuantity"						type="double"		minOccurs="1" />
			<element name="TaxByValue"						type="double"		minOccurs="1" />
			<element name="TaxByQuantity"						type="double"		minOccurs="1" />
			<element name="TaxByQuantityOver"						type="double"		minOccurs="1" />
			<element name="TaxByQuantityWithOver"						type="double"		minOccurs="1" />
			<element name="NetTaxByValue"						type="double"		minOccurs="1" />
			<element name="NetTaxByQuantity"						type="double"		minOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="SummaryInfo">
		<sequence>
			<element name="SumAllTaxByValue"						type="double"		minOccurs="1" />
			<element name="SumAllTaxByQuantity"						type="double"		minOccurs="1" />
			<element name="SumAllTax"						type="double"		minOccurs="1" />
			<element name="TaxLessType"						type="string"		minOccurs="0" />
			<element name="TaxLessFrom"						type="string"		minOccurs="0" />
			<element name="TaxLessAmount"						type="double"		minOccurs="0" />
			<element name="TaxDeductionOnBookNo"						type="string"		minOccurs="0" />
			<element name="TaxDeductionOnBookAmount"						type="double"		minOccurs="0" />
			<element name="PaymentExciseAmount"						type="double"		minOccurs="1" />
			<element name="PaymentMunicipalAmount"						type="double"		minOccurs="1" />
			<element name="PaymentFundHealthAmount"						type="double"		minOccurs="1" />
			<element name="PaymentFundTVAmount"						type="double"		minOccurs="1" />
			<element name="PaymentFundSportAmount"						type="double"		minOccurs="1" />
			<element name="MoiRate"						type="double"		minOccurs="1" />
			<element name="PrintType"						type="string"		minOccurs="1" />
			<element name="RecType"						type="string"		minOccurs="1" />
			<element name="PaymentExciseAndMunicipalTaxAmount"						type="double"		minOccurs="1" />
			<element name="PaymentOtherAmount"						type="double"		minOccurs="0" />
			<element name="PaymentNetTaxAmount"						type="double"		minOccurs="1" />
		</sequence>
	</complexType>

</schema>